Attachments/flows.json
[{"id":"bcd02c5b.65a42","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7723fa42.160ae4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"27b8db83.2f13a4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"42df239.bbe50dc","type":"ui_group","name":"Default","tab":"7723fa42.160ae4","order":1,"disp":true,"width":"8","collapse":false},{"id":"caf6d51a.51e328","type":"ui_spacer","name":"spacer","group":"97e14766.032938","order":2,"width":1,"height":1},{"id":"94afafe1.51df7","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"TEMHUM","name":"TEMHUM","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f18ff32f.c7bf5","type":"inject","z":"bcd02c5b.65a42","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["9c3e3d26.61d3b"]]},{"id":"9c3e3d26.61d3b","type":"rpi-dht22","z":"bcd02c5b.65a42","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"4","x":520,"y":120,"wires":[["1698dc63.4a19e4","af4f241b.888a28","7247eb4a.7cf884"]]},{"id":"1698dc63.4a19e4","type":"function","z":"bcd02c5b.65a42","name":"temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["6a121ba8.216c14","52a84bfa.c6c744","1d88c9d0.b6b166"]]},{"id":"af4f241b.888a28","type":"function","z":"bcd02c5b.65a42","name":"humidity","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":520,"wires":[["76bc365a.d56368","dc87b57a.8c73a8","540a0b04.056d34"]]},{"id":"6a121ba8.216c14","type":"debug","z":"bcd02c5b.65a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"76bc365a.d56368","type":"debug","z":"bcd02c5b.65a42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"52a84bfa.c6c744","type":"ui_gauge","z":"bcd02c5b.65a42","name":"","group":"42df239.bbe50dc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":380,"wires":[]},{"id":"dc87b57a.8c73a8","type":"ui_gauge","z":"bcd02c5b.65a42","name":"","group":"42df239.bbe50dc","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":620,"wires":[]},{"id":"1d88c9d0.b6b166","type":"ui_chart","z":"bcd02c5b.65a42","name":"","group":"42df239.bbe50dc","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":460,"wires":[[]]},{"id":"540a0b04.056d34","type":"ui_chart","z":"bcd02c5b.65a42","name":"","group":"42df239.bbe50dc","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":700,"wires":[[]]},{"id":"7247eb4a.7cf884","type":"function","z":"bcd02c5b.65a42","name":"InfluxDB ","func":"msg.payload = {\n    temperature: msg.payload,\n    humidity: msg.humidity\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":160,"wires":[["32d93311.cc87ac","bdf67077.0f825"]]},{"id":"32d93311.cc87ac","type":"debug","z":"bcd02c5b.65a42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":80,"wires":[]},{"id":"bdf67077.0f825","type":"influxdb out","z":"bcd02c5b.65a42","influxdb":"94afafe1.51df7","name":"Temhum","measurement":"stations","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1150,"y":180,"wires":[]}]